{% extends 'layouts/base.html' %} {% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

{% endblock stylesheets %}

{% block content %}

<div class="container-fluid" id="container-wrapper"> 
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 pl-2 text-gray-800">상품 개별 페이지</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item">판매자</li>
      <li class="breadcrumb-item active" aria-current="page">상품 관리</li>
    </ol>
  </div>
    
  <div class="row">
    <div class="col-xl-4 col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
              <img src="{{product.main_img.url}}"><br>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-6">
        <div class="card mb-4">
          <div class="card-body">
            <div class ="needs-validation px-3 pt-3 pb-4">
              <div class="col-12 mb-2">
                <label class="col-3">점포명</label>
                <span class="col-9">{{ product.shop.shop_name }}</span>
              </div>
              <div class="col-12 mb-2">
                <label class="col-3">상품 카테고리</label>
                <span class="col-9">{{ product.pro_subcategory.name }}</span>
              </div>
              <div class="col-12 mb-2">
                <label class="col-3">상품 가격</label>
                <span class="col-9">{{ product.name }}</span>
              </div>
              <div class="col-12 mb-2">
                <label class="col-3">재고 보유량</label>
                <span class="col-9">{{ product.stock }}</span>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-4 p-3">
        <div class="card-body">
            <div class="mb-5">상세 설명:  {{product.description}}</div>
            {{ product.content.html | safe}}

            {% if product.status == '0' %}
            <div>
                <button class="btn btn-outline-primary pb-1" type="button" onclick="approvePro('{{product.id}}')">승인</button>
                <button class="btn btn-outline-danger pb-1" type="button" onclick="rejectPro('{{product.id}}')">반려</button>
            </div>
            {% elif product.status == '1' %}
            <div>
                <button class="btn btn-outline-danger pb-1" type="button" onclick="stopPro('{{product.id}}')">판매중지</button>
                <button class="btn btn-outline-danger pb-1" type="button" onclick="deletePro('{{product.id}}')">삭제</button>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'jsmeta/management/script_product_detail.js' %}"></script>
{% endblock javascripts %}