{% extends 'layouts/base.html' %} {% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">

{% endblock stylesheets %}

{% block content %}
<div class="container-fluid" id="container-wrapper"> 
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 pl-2 text-gray-800">주문 관리</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="./">Home</a></li>
      <li class="breadcrumb-item">회원</li>
      <li class="breadcrumb-item active" aria-current="page">주문 관리</li>
    </ol>
  </div>
    
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-body">
          <div class ="row g-3 needs-validation">
            <div class="col-md-3 mb-3">
              <label class="form-label" for="Type">수령 방법</label>
              <select class="form-control" id="Type" name="Type">
                <option value="" disabled selected>수령 방법을 선택하세요.</option>
                <option value="배달">배달</option>
                <option value="포장">포장</option>
                <option value="드라이브스루">드라이브스루?</option>
              </select>
            </div>
            <div class="col-md-3 mb-3">
              <label class="form-label" for="Status">주문 상태</label>
              <select class="form-control" id="Status" name="Status">
                <option value="" disabled selected>주문 상태를 선택하세요.</option>
                <option value="배송준비중">배송준비중</option>
                <option value="배송중">배송중</option>
                <option value="배송완료">배송완료</option>
                <option value="배송지연">배송지연</option>
              </select>
            </div>
            <!--
            <div class="col-md-4 mb-3">
              <label class="form-label" for="Id">주문자 아이디</label>
              <input class=" form-control" id="Id" name="Id" type="text" placeholder="주문자 아이디를 입력하세요."/>
            </div>
          -->
            <div class="col-md-3 mb-3">
              <label class="form-label" for="Name">주문자명</label>
              <input class=" form-control" id="Name" name="Name" type="text" placeholder="주문자명을 입력하세요."/>
            </div>
            <div class="col-md-3 mb-3">
              <label class="form-label" for="No">주문 번호</label>
              <input class=" form-control" id="No" name="No" type="text" placeholder="주문번호를 입력하세요."/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mb-3 p-3">
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">회원 관리</h6>
        </div>
        <div class="table-responsive p-3" id="aaa">
          <table class="table align-items-center table-flush table-hover" id="dataTableHover-order">
            <thead class="thead-light">
              <tr>
                <th>주문번호</th>
                <th>수령방법</th>
                <th>주문자명</th>
                <th>연락처</th>
                <th>운송장번호</th>
                <th>금액</th>
                <th>주문상태</th>
              </tr>
            </thead>
            <tbody class="list" id="list-order">
              {% if orders %} 
              {% for i in orders %}
              {% load humanize %}
              <tr class="list-order-row" style="cursor:pointer">
                <td class="align-middle" id="No-td">{{ i.order_no }}</td>
                <td class="align-middle" id="Type">{{ i.type }}</td>
                <td class="align-middle" id="MemName">{{ i.member__mem_name }}</td>
                <td class="align-middle" id="Call">{{ i.call }}</td>
                <td class="align-middle" id="TransportNo">{{ i.transport_no }}</td>
                <td class="align-middle" id="Total">{{ i.total_price|intcomma }}</td>
                <td class="align-middle status" id="Status" value='{{i.status}}'></td>
              </tr>
              {% endfor %} 
              {% else %}
              <tr>
                <td class="align-middle">Data does not exist.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              {% endif %}
            </tbody>
            <tfoot>
              <tr>
                <th>주문번호</th>
                <th>수령방법</th>
                <th>주문자명</th>
                <th>연락처</th>
                <th>운송장번호</th>
                <th>금액</th>
                <th>주문상태</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}" type="text/javascript"></script>

<script src="{% static 'jsmeta/script_order_info.js' %}"></script>

{% endblock javascripts %}