{% extends 'layouts/base.html' %} {% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">

{% endblock stylesheets %}

{% block content %}
<div class="container-fluid" id="container-wrapper"> 
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 pl-2 text-gray-800">상품 관리</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item">판매자</li>
            <li class="breadcrumb-item active" aria-current="page">상품 관리</li>
        </ol>
    </div>

    <div class="row">
    <!-- A table of products waiting for sales approval -->
        <div class="col"  id="pro-RequestedTable">
            <div class="card mb-4 p-2">
                <div class="card-header mb-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">승인 대기 중 목록</h6>
                </div>
                <!-- Search -->
                <div class ="row g-3 needs-validation mb-3 px-4">
                  <div class="col-md-6 mb-3">
                      <label class="form-label" for="catSearch">상품 카테고리</label>
                      <select class="form-control" id="catSearch" name="catSearch" >
                          {% if ProCategories %}
                          <option value="" disabled selected>상품 카테고리 선택</option>
                          {% for i in ProCategories %}
                          <option value="{{i.name}}">{{i.name}}</option>
                          {% endfor %}
                          {% endif %}
                      </select>
                  </div>
                  <div class="col-md-6 mb-3">
                      <label class="form-label" for="shopSearch">점포명</label>
                      <input class="form-control" id="shopSearch" name="shopSearch" type="text" placeholder="점포명" />
                  </div>
                  <div class="col-md-6 mb-3">
                      <label class="form-label" for="nameSearch">상품명</label>
                      <input class="form-control" id="nameSearch" name="nameSearch" type="text" placeholder="상품명" />
                  </div>
                  <div class="col-md-6 mb-3">
                      <label class="form-label" for="minPrice">가격</label>
                      <input class="form-control" id="minPrice" name="minPrice" type="text" placeholder="최소 가격" />
                      <input class="form-control" id="maxPrice" name="maxPrice" type="text" placeholder="최대 가격" />
                  </div>
                </div>

                <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush table-hover" id="dataTableHover1">
                        <thead class="thead-light">
                            <tr>
                                <th>No.</th>
                                <th>상품 카테고리</th>
                                <th>점포명</th>
                                <th>상품명</th>
                                <th>가격</th>
                                <th>재고</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>No.</th>
                                <th>상품 카테고리</th>
                                <th>점포명</th>
                                <th>상품명</th>
                                <th>가격</th>
                                <th>재고</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
    <!-- A table of products on sale -->
    <div class="col"  id="pro-onSaleTable">
        <div class="card mb-4 p-2">
            <div class="card-header mb-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">판매 중 상품</h6>
            </div>
            <!-- Search -->
            <div class ="row g-3 needs-validation mb-3 px-4">
              <div class="col-md-6 mb-3">
                  <label class="form-label" for="catSearch2">상품 카테고리</label>
                  <select class="form-control" id="catSearch2" name="catSearch2" >
                      {% if ProCategories %}
                      <option value="" disabled selected>상품 카테고리 선택</option>
                      {% for i in ProCategories %}
                      <option value="{{i.name}}">{{i.name}}</option>
                      {% endfor %}
                      {% endif %}
                  </select>
              </div>
              <div class="col-md-6 mb-3">
                  <label class="form-label" for="shopSearch2">점포명</label>
                  <input class="form-control" id="shopSearch2" name="shopSearch2" type="text" placeholder="점포명" />
              </div>
              <div class="col-md-6 mb-3">
                  <label class="form-label" for="nameSearch2">상품명</label>
                  <input class="form-control" id="nameSearch2" name="nameSearch2" type="text" placeholder="상품명" />
              </div>
              <div class="col-md-6 mb-3">
                  <label class="form-label" for="minPrice2">가격</label>
                  <input class="form-control" id="minPrice2" name="minPrice2" type="text" placeholder="최소 가격" />
                  <input class="form-control" id="maxPrice2" name="maxPrice2" type="text" placeholder="최대 가격" />
              </div>
            </div>
            
            <div class="table-responsive p-3">
                <table class="table align-items-center table-flush table-hover" id="dataTableHover2">
                    <thead class="thead-light">
                        <tr>
                            <th>No.</th>
                            <th>상품 카테고리</th>
                            <th>점포명</th>
                            <th>상품명</th>
                            <th>가격</th>
                            <th>재고</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No.</th>
                            <th>상품 카테고리</th>
                            <th>점포명</th>
                            <th>상품명</th>
                            <th>가격</th>
                            <th>재고</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}" type="text/javascript"></script>

<script src="{% static 'jsmeta/management/script_product_info.js' %}"></script>

{% endblock javascripts %}