{% extends 'layouts/base.html' %} {% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>


{% endblock stylesheets %}

{% block content %}

<div class="container-fluid" id="container-wrapper"> 
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 pl-2 text-gray-800">판매 상품 개별 페이지</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item">판매자페이지</li>
      <li class="breadcrumb-item active" aria-current="page">상품 관리</li>
    </ol>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
        
      
      
        <div class="card m-5 p-2" style="width: 40rem;">
         
            <img src="{{ eachProduct.main_img.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p style="font-size: 14px;" class="btn btn-warning m-1 p-1">{{ eachProduct.pro_subcategory.name }}</p>
                <h5 class="card-title m-1"><b>상품명:</b> {{ eachProduct.name }}</h5>
                <h4 class="card-subtitle m-1"><b>가격:</b> {{ eachProduct.price }}원</h4>
                <hr>
                <p style="font-size: 15px;" class="card-text mt-1">재고: {{ eachProduct.stock}}</p>
                <p style="font-size: 15px;" class="card-text mt-1">상세설명: {{ eachProduct.description}}</p>
                <p style="font-size: 13px;" class="cart-text mt-1">내용: {{eachProduct.content.html | safe}}</p>
                {% if eachProduct.status != '3' %}
                <a href="{% url 'seller:product-delete' eachProduct.id %}" class="btn btn-danger m-1"> 삭제 </a>
                {% endif %}
                <a href="{% url 'seller:product-edit' eachProduct.id %}" class="btn btn-primary m-1"> 수정 </a>
                {% if eachProduct.status == '2' %}
                <a href="{% url 'seller:product-reapply' eachProduct.id %}" class="btn btn-success m-1"> 재신청 </a>
                {% endif %}
                <a href="{% url 'seller:product-approval' %}" class="btn btn-dark m-1"> 목록 </a>
            </div>
        </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}