{% extends 'layouts/base.html' %} {% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

{% endblock stylesheets %}

{% block content %}

<div class="container-fluid" id="container-wrapper"> 
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 pl-2 text-gray-800">판매 상품 개별 페이지</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item">판매자페이지</li>
      <li class="breadcrumb-item active" aria-current="page">상품 관리</li>
    </ol>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-2 font-weight-bold text-primary">대표 이미지</h6>
        </div>
        <div class="py-4 px-5">
          <img src="{{product.main_img.url}}"><br>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body pt-0">
          <div class ="needs-validation px-3 pt-3 pb-4">
            <div class="py-4 px-5">상품 카테고리<span class="py-4 px-5"></span>{{product.pro_category.name}}</div>
            <div class="py-4 px-5">상품명<span class="py-4 px-5"></span>{{product.name}}</div>
            <div class="py-4 px-5">상품 가격<span class="py-4 px-5"></span>{{product.price}}</div>
            <div class="py-4 px-5">재고 보유량<span class="py-4 px-5"></span>{{product.stock}}</div>
            <div class="py-4 px-5">상세 설명<span class="py-4 px-5"></span>{{product.description}}</div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div id="editor-container" class="container">
            {{ product.content.html | safe }}
          </div>
          <div class="py-4 px-5">
              {% if product.status != '3' %}
              <button type="button" class="btn btn-outline-primary pb-1 btn-edit" onclick="location.href='/seller/product-edit/{{product.id}}'">수정</button>
              {% endif %}
              <button type="button" class="btn btn-outline-danger pb-1" id="btnDelete" data-id="{{ product.id }}">삭제</button>
              {% if product.status == '2' %}
              <button type="button" class="btn btn-outline-success pb-1" id="btnReapply" data-id="{{ product.id }}">재신청</button>
              {% endif %}
              <button type="button" class="btn btn-outline-dark pb-1" onclick="location.href='/seller/product-approval'">목록</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'jsmeta/seller/script_product_delete.js' %}"></script>
<script src="{% static 'jsmeta/seller/script_product_reapply.js' %}"></script>

{% endblock javascripts %}