{% extends 'layouts/base.html' %} {% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<!--quil-->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<!-- Bootstrap Touchspin -->
<link href="{% static 'vendor/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css' %}" rel="stylesheet">

<style>
  .custom-file-input:lang(en)~.custom-file-label::after {
    content: "파일 선택" !important;
  }

  .ql-editor {
    min-height: 300px;
    font-size: 16px;
  }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 pl-2 text-gray-800">판매 상품 수정</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item">판매자페이지</li>
      <li class="breadcrumb-item active" aria-current="page">상품 관리</li>
    </ol>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-2 font-weight-bold text-primary">대표 이미지</h6>
        </div>
        <div class="py-4 px-5">
          <img src="{{product.main_img.url}}" width="300" height="400"><br>
        </div>
        <form id="uploadImgForm" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="py-4 px-5">
            <input class="form-control" id="mainImg" name="mainImg" type="file" multiple="multiple" required />
            <div class="valid-feedback">Complete</div>
          </div>
        </form>
      </div>
    </div>
  
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-2 font-weight-bold text-primary">상품 정보</h6>
        </div>
        <div class="card-body pt-0">
          <form class="row needs-validation p-2" id="uploadForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row col-md-12 mb-4">
              <label class="form-label col-md-2 pt-2" for="ProductCategoryId">상품 카테고리</label>
              <select class="form-control col-md-6" id="ProductCategoryId" name="ProductCategoryId" required>
                {% if ProCategories %}
                <option value="" disabled selected>상품 카테고리 선택</option>
                <option value="{{product.pro_category.id}}" selected>{{product.pro_category.name}}</option>
                {% for i in ProCategories %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
                {% endif %}
              </select>
              <div class="valid-feedback">Complete</div>
            </div>
            <div class="row col-md-12 mb-4">
              <label class="form-label col-md-2 pt-2" for="ProductName">상품명</label>
              <input class=" form-control col-md-3" id="ProductName" name="ProductName" type="text" placeholder="상품명을 입력하세요."
                  value="{{product.name}}" required />
              <div class="valid-feedback">Complete</div>
            </div>
            <div class="row col-md-12 mb-4">
              <label class="form-label col-md-2 pt-2" for="ProductPrice">가격</label>
              <input class="form-control col-md-3" id="ProductPrice" name="ProductPrice" type="text" placeholder="상품 가격을 입력하세요."
                value="{{product.price}}" required />
              <div class="valid-feedback">Complete</div>
            </div>
            <div class="row col-md-12 mb-4">
              <label class="form-label col-md-2 pt-2" for="ProductStock">재고</label>
              <div class="form-group">
                <input class="form-control col-md-3" id="ProductStock" name="ProductStock" type="text" placeholder="재고를 입력하세요." required/>
              </div>
              <div class="valid-feedback">Complete</div>
            </div>
            <div class="row col-md-12 mb-4">
              <label class="form-label col-md-2 pt-2" for="ProductDescription">상품설명</label>
              <input class="form-control col-md-3" id="ProductDescription" name="ProductDescription" type="text"
                placeholder="상품 상세 설명을 입력하세요." value="{{product.description}}" required />
              <div class="valid-feedback">Complete</div>
            </div>
            <input class="form-control" id="ProductId" name="ProductId" value="{{product.id}}" type="hidden">
            <div class="row">
              <div class="col">
                <div class="card-header pb-0">
                  <h5 class="m-0 font-weight-bold text-primary"></h5>
                  <p><b>상품의 상세 설명</b>을 작성해주세요.</p>
                </div>
                <div class="card-body pt-0">
                  <div id="editor-container" class="container"></div>
                  <input class="form-control" id="Productquill" name="Productquill" value="{{product.content.delta}}"
                   >

                  <div class="py-4 px-5">
                    <button type="button" class="btn btn-outline-primary pb-1 btn-edit" id="btnEdit">수정</button>
                    <button type="button" class="btn btn-outline-danger pb-1">취소</button>
                  </div>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Scroll to top -->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Bootstrap Touchspin -->
<script src="{% static 'vendor/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js' %}"></script>
<!--Quil-->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="{% static 'jsmeta/seller/script_product_edit.js' %}"></script>
{% endblock javascripts %}