{% extends 'layouts/base.html' %} {% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">

{% endblock stylesheets %}

{% block content %}
<div class="container-fluid" id="container-wrapper"> 
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 pl-2 text-gray-800">상품 관리</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item">상품 관리</li>
      <li class="breadcrumb-item active" aria-current="page">승인 요청/반려 상품</li>
    </ol>
  </div>

  <div class="row">
    <div class="col" id="sellerRequestedTable">
      <div class="card mb-3 p-3">
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">승인 요청 관리</h6>
        </div>
        <div class="table-responsive p-3">
          <table class="table align-items-center table-flush table-hover" id="dataTableHover1">
            <thead class="thead-light">
              <tr>
                <th>No.</th>
                <th>상품 카테고리</th>
                <th>상품명</th>
                <th>상품가격</th>
                <th>상품재고</th>
                <th>상품설명</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>No.</th>
                <th>상품 카테고리</th>
                <th>상품명</th>
                <th>상품가격</th>
                <th>상품재고</th>
                <th>상품설명</th>
              </tr>
            </tfoot>
            <tbody class="list" id="bulk-select-body">
              {% if requestTable %} 
              {% for i in requestTable %}
              <tr class="list-order-row" onclick="location.href='/seller/product-detail/{{i.id}}'">
                <td class="align-middle" id="Id">{{ forloop.counter }}</td>
                <td class="align-middle" id="ProCategory">{{ i.pro_category.name }}</td>
                <td class="align-middle" id="Name">{{ i.name }}</td>
                <td class="align-middle" id="Price">{{ i.price }}</td>
                <td class="align-middle" id="Stock">{{ i.stock }}</td>
                <td class="align-middle" id="Description">{{ i.description }}</td>
              </tr>
              {% endfor %} 
              {% else %}
              <tr>
                <td class="align-middle">Data does not exist.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col" id="reapplytable">
      <div class="card mb-3 p-3">
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">반려 상품 관리</h6>
        </div>
        <div class="table-responsive p-3">
          <table class="table align-items-center table-flush table-hover" id="dataTableHover2">
            <thead class="thead-light">
              <tr>
                <th>No.</th>
                <th>상품 카테고리</th>
                <th>상품명</th>
                <th>상품가격</th>
                <th>상품재고</th>
                <th>상품설명</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>No.</th>
                <th>상품 카테고리</th>
                <th>상품명</th>
                <th>상품가격</th>
                <th>상품재고</th>
                <th>상품설명</th>
              </tr>
            </tfoot>
            <tbody class="list" id="bulk-select-body2">
              {% if rejectedTable %} 
              {% for i in rejectedTable %}
              <tr class="list-order-row" onclick="location.href='/seller/product-detail/{{i.id}}'">
                <td class="align-middle" id="Id">{{ forloop.counter }}</td>
                <td class="align-middle" id="ProCategory">{{ i.pro_category.name }}</td>
                <td class="align-middle" id="Name">{{ i.name }}</td>
                <td class="align-middle" id="Price">{{ i.price }}</td>
                <td class="align-middle" id="Stock">{{ i.stock }}</td>
                <td class="align-middle" id="Description">{{ i.description }}</td>
              </tr>
              {% endfor %} 
              {% else %}
              <tr>
                <td class="align-middle">Data does not exist.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}" type="text/javascript"></script>



{% endblock javascripts %}