{% extends 'layouts/base.html' %} {% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">

{% endblock stylesheets %}

{% block content %}
<div class="container-fluid" id="container-wrapper"> 
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 pl-2 text-gray-800">상품 등록</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item">상품 관리</li>
      <li class="breadcrumb-item active" aria-current="page">상품 등록</li>
    </ol>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-4 p-2">
        <div class="card-header pb-3">
          <h5 class="m-0 font-weight-bold text-primary"></h5>
          <p><b>새로운 상품</b>을 등록해주세요.</p>
          <button type="button" class="btn btn-primary pb-1" onclick="location.href='/seller/product-post'">
            <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
            <span>새 상품 등록</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}" type="text/javascript"></script>

{% endblock javascripts %}