{% extends 'layouts/base.html' %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </div>

    {% if staff %}
    <div class="row mb-3">
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1">Earnings (Monthly)</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                <div class="mt-2 mb-0 text-muted text-xs">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span>Since last month</span>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-primary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Earnings (Annual) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1">Sales</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">650</div>
                <div class="mt-2 mb-0 text-muted text-xs">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                  <span>Since last years</span>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-shopping-cart fa-2x text-success"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- New User Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1">New User</div>
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">366</div>
                <div class="mt-2 mb-0 text-muted text-xs">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 20.4%</span>
                  <span>Since last month</span>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-users fa-2x text-info"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Pending Requests Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1">Pending Requests</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                <div class="mt-2 mb-0 text-muted text-xs">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                  <span>Since yesterday</span>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-comments fa-2x text-warning"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="col-xl-12 col-md-12 mb-3">
        <div class="card h-100 py-2">
          <div class="card-header pb-0">
            <div class="row mx-2">
              <span class="fas fa-file text-primary mr-2 pt-1"></span>
              <div class="h6 mr-3 pt-1 font-weight-bold text-primary">판매 현황</div>
              <a href="./" >
                <span class="fas fa-sync-alt text-secondary pt-1" data-fa-transform="shrink-3 down-2" style="cursor:pointer;"></span>
              </a>
            </div>
          </div>
          <div class="card-body px-3 py-0">
            <div class="row align-items-center">
              <div class="col-xl-3 col-md-6 border-right">
                <div class="card h-100 pt-3" style="box-shadow: none !important;">
                  <div class="card-body py-0 px-3 mb-4">
                    <div class="row no-gutters align-items-center">
                      <div class="col mx-1">
                        <div class="h5 mb-2 text-gray-800">결제 완료</div>
                        <div>
                          <span class="h4 mx-1 font-weight-bold text-primary">{{ Paid }}</span>
                          <span>건</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-coins fa-2x text-secondary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 border-right">
                <div class="card h-100 pt-3 py-0" style="box-shadow: none !important;">
                  <div class="card-body py-0 px-3 mb-4">
                    <div class="row no-gutters align-items-center">
                      <div class="col mx-1">
                        <div class="h5 mb-2 text-gray-800">배송 준비 중</div>
                        <div>
                          <span class="h4 mx-1 font-weight-bold text-primary">{{ Processing }}</span>
                          <span>건</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-clock fa-2x text-warning"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 border-right">
                <div class="card h-100 pt-3 py-0" style="box-shadow: none !important;">
                  <div class="card-body py-0 px-3 mb-4">
                    <div class="row no-gutters align-items-center">
                      <div class="col mx-1">
                        <div class="h5 mb-2 text-gray-800">배송 중</div>
                        <div>
                          <span class="h4 mx-1 font-weight-bold text-primary">{{ Shipping }}</span>
                          <span>건</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-shipping-fast fa-2x text-info"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card h-100 pt-3 py-0" style="box-shadow: none !important;">
                  <div class="card-body py-0 px-3 mb-4">
                    <div class="row no-gutters align-items-center">
                      <div class="col mx-1">
                        <div class="h5 mb-2 text-gray-800">배송 완료</div>
                        <div>
                          <span class="h4 mx-1 font-weight-bold text-primary">{{ Delivered }}</span>
                          <span>건</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-check fa-2x text-success"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-12 mb-3">
        <div class="card h-100 py-2">
          <div class="card-header">
            <div class="row mx-2">
              <span class="fas fa-phone text-primary mr-2 pt-1"></span>
              <a href="{% url 'seller:qna' %}">
                <div class="h6 mr-3 pt-1 font-weight-bold text-primary">미답변 문의</div>
              </a>
              <a href="{% url 'index' %}">
                <span class="fas fa-sync-alt text-secondary pt-1" data-fa-transform="shrink-3 down-2" style="cursor:pointer;"></span>
              </a>
            </div>
          </div>
          <div class="card-body px-3 pt-0">
            <div class="col mb-2 text-secondary">
              <a href="#" style="text-decoration: none;">
                <div class="row px-3 justify-content-between">
                  <div>상품 문의</div>
                  <div>
                    <span class="h4 mx-1 font-weight-bold text-primary">{{ Paid }}</span>
                    <span>건</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-12 mb-3">
        <div class="card h-100 py-2">
          <div class="card-header">
            <div class="row mx-2">
              <span class="fas fa-ban text-primary mr-2 pt-1"></span>
              <a href="{% url 'seller:cancel' %}">
                <div class="h6 mr-3 pt-1 font-weight-bold text-primary">취소/반품</div>
              </a>
              <a href="{% url 'index' %}">
                <span class="fas fa-sync-alt text-secondary pt-1" data-fa-transform="shrink-3 down-2" style="cursor:pointer;"></span>
              </a>
            </div>
          </div>
          <div class="card-body px-3 py-0">
            <div class="col">
              <div class="row px-3 mb-2 justify-content-between">
                <div>취소 요청</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ Paid }}</span>
                  <span>건</span>
                </div>
              </div>
              <div class="row px-3 mb-2 justify-content-between">
                <div>취소 환불 요청</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ Paid }}</span>
                  <span>건</span>
                </div>
              </div>
              <div class="row px-3 mb-2 justify-content-between">
                <div>반품 요청</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ Paid }}</span>
                  <span>건</span>
                </div>
              </div>
              <div class="row px-3 mb-2 justify-content-between">
                <div>반품 환불 요청</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ Paid }}</span>
                  <span>건</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-12 mb-3">
        <div class="card h-100 py-2">
          <div class="card-header">
            <div class="row mx-2">
              <span class="fas fa-list text-primary mr-2 pt-1"></span>
              <a href="{% url 'seller:product-list' %}">
                <div class="h6 mr-3 pt-1 font-weight-bold text-primary">상품</div>
              </a>
              <a href="{% url 'index' %}">
                <span class="fas fa-sync-alt text-secondary pt-1" data-fa-transform="shrink-3 down-2" style="cursor:pointer;"></span>
              </a>
            </div>
          </div>
          <div class="card-body px-3 pt-0">
            <div class="col mb-2">
              <div class="row px-3 mb-2 justify-content-between">
                <div>판매 중</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ OnSale }}</span>
                  <span>건</span>
                </div>
              </div>
              <div class="row px-3 mb-2 justify-content-between">
                <div>승인 요청</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ Requested }}</span>
                  <span>건</span>
                </div>
              </div>
              <div class="row px-3 mb-2 justify-content-between">
                <div>승인 반려</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ Rejected }}</span>
                  <span>건</span>
                </div>
              </div>
              <div class="row px-3 mb-2 justify-content-between">
                <div>판매 중지</div>
                <div>
                  <span class="h4 mx-1 font-weight-bold text-primary">{{ Stopped }}</span>
                  <span>건</span>
                </div>
              </div>
            </div>         
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-md-12 mb-3">
        <div class="card h-100 py-2">
          <div class="card-header">
            <div class="row mx-2">
              <span class="fas fa-star text-primary mr-2 pt-1"></span>
              <div class="h6 mr-3 pt-1 font-weight-bold text-primary">점포 현황</div>
              <a href="./">
                <span class="fas fa-sync-alt text-secondary pt-1" data-fa-transform="shrink-3 down-2" style="cursor:pointer;"></span>
              </a>
            </div>
          </div>
          <div class="card-body px-3 pt-0">

          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-12 mb-3">
        <div class="card h-100 py-2">
          <div class="card-header">
            <div class="row mx-2">
              <span class="fas fa-ban text-primary mr-2 pt-1"></span>
              <div class="h6 mr-3 pt-1 font-weight-bold text-primary">뭐 하지,,</div>
              <a href="./">
                <span class="fas fa-sync-alt text-secondary pt-1" data-fa-transform="shrink-3 down-2" style="cursor:pointer;"></span>
              </a>
            </div>
          </div>
          <div class="card-body px-3 py-0">

          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}